*{
    margin: 0;
    padding: 0;
}
nav{
    height: 72px;
    width: 100vw;
    display: flex;
   
}
#text{
     margin-left: 200px; 
    display: flex;
    margin-top: 15px;
    padding: 10px;
    justify-content: center;
 
}
.a{
    text-decoration: none;
}
#image{
    padding: 15px;  
}
#text a{
    margin-right: 35px;
    text-decoration: none;
    font-size: 25;
}
#text a