*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    /* height: 72px; */
    
    display: flex;
    justify-content: center;
   width: 50%;
}
 header #text{
   width: 405px;
  /* justify-self: center; */]
  
}
/* #text {
    text-decoration: none;
    color: rgba(18, 51, 81, 0.65);
} */
#text a{
    margin-right: 35px;
    text-decoration: none;
    font-size: 25;
    color: rgba(18, 51, 81, 0.65);
    font-size: ;
}
#text a:hover {
    
}

header{
    display: flex;
    justify-content: center;
}