*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f5f7fa;
     height: 500vh; 
}

header{
    display: flex;
    justify-content: space-between;
}
.middle-bar nav{ 
    margin-top: 40px;
}
.middle-bar nav a {
font-weight: 700;
text-decoration: none;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
margin: 30px;
text-transform:uppercase;
color: rgba(18, 51, 54, 0.65);
}
.middle-bar nav a:hover{
    color: rgb(0, 0, 0);
}
.logo{
    margin: 20px 0 0 40px;
}
.login{
    color: #15a6f0;
    font-size: 25px;
    margin: 40px 40px 0 0;
}
.nav2{
    height: 60px;
    width: 95%;
    background-color: #ffffff;
    margin-left: 2.5%;
    border-radius: 20px;
    position: fixed;
    
}

.nav2 img{
    margin: 23px 0 0 31px;
    margin-right: 52%;
}

.nav2 .container {
    display: flex;
}
.nav2 .container nav {
 /* background-color: rgb(179, 33, 142); */
 height: 40px;
 text-decoration: none;
 padding-top: 20px;
 align-items: center;

}
.nav2 .container nav a{
    text-decoration: none;
   margin-left: 25px;
   justify-self: center;

}
.nav2 .container nav button{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    height: 20px;
    width: 70px;
}
main .freebox{
    height: 140px;
    width: 100%;
}
main .main1{
    /* background-color: aqua; */
    align-items: center;
    /* width: 486px; */
    height: 410px;
    margin: 0 auto;
    text-align: center;
    /* padding-top: 50px; */
    font-size: 30px;
    letter-spacing: -.034em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: rgba(18, 51, 54, 0.85);
}
/* article {
    background-color: black;
    height: 500px;
    width: 500px;
} */
 main .free2{
    height: 50px;
 }
main .main3{
    
    align-items: center;
    height: 410px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: -.034em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: rgba(18, 51, 54, 0.85);
}
main .main4{
    display: flex;
}
main .main4 .main41{
    width: 470px;
    padding-top: 360px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: rgba(18, 51, 54, 0.85);
    padding-left: 30px;
}
main .main5{
    display: flex;
    margin-top: 50px;
}
main .main5 .main51{
    /* width: 470px;
    padding-top: 360px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: rgba(18, 51, 54, 0.85);
    padding-left: 30px;
}
main footer{
    background-color: rgb(184, 209, 201);
height: 100px;
width: 100%;
}
main footer .foot{
   
     height: 100px;
     width: 100px;
    margin: 0 auto;
    padding-top: 25px;

}
main footer .foot a{
    text-decoration: none;
}