*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f5f7fa;
    height: 200vh;
}

header{
    display: flex;
    justify-content: space-between;
}
.middle-bar nav{ 
    margin-top: 40px;
}
.middle-bar nav a {
font-weight: 700;
text-decoration: none;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
margin: 30px;
text-transform:uppercase;
color: rgba(18, 51, 54, 0.65);
}
.middle-bar nav a:hover{
    color: rgb(0, 0, 0);
}
.logo{
    margin: 20px 0 0 40px;
}
.login{
    color: #15a6f0;
    font-size: 25px;
    margin: 40px 40px 0 0;
}
.nav2{
    height: 60px;
    width: 95%;
    background-color: #ffffff;
    margin-left: 2.5%;
    border-radius: 20px;
    position: fixed;
    
}

.nav2 img{
    margin: 23px 0 0 31px;
}